#formacao {
    grid-column: 2;
    margin: 3.7rem 0;
}

.itemFormacao {
    width: 9rem;
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.20);
}

.itemFormacao:nth-child(n + 3){
    margin-top: 40px;
}

.itemFormacao>h4 {
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: #222222;
    display: flex;
    margin: 1.2rem 1.2rem 0 1.2rem;
    position: relative;
}

.topicoDev::before,
.topicoDsg::before{
    content: '';
    display: block;
    width:1rem;
    height: 1rem;
    position: absolute;
    left: -1.7rem;
    top: 0.1rem;
}

.topicoDev::before{
    background-image: linear-gradient(220.55deg, #7CF7FF 0%, #4B73FF 100%);
}

.topicoDsg::before{
    background: linear-gradient(220.55deg, #ffd3a5 0%, #FB923C 100%);
}

.itemFormacao>h5 {
    color: #898989;
    font-size: 0.7rem;
    letter-spacing: 0px;
    font-weight: 400;
    margin: 0 1.2rem 1.2rem 1.2rem;
}