.listaFormacao{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    column-gap: 1.5rem;
    row-gap: 2.5rem;
    justify-items: center;
}

.itemFormacao {
    width: 9rem;
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.10);
}

.itemFormacao>h4 {
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: #222222;
    display: flex;
    margin: 1.2rem 1.2rem 0 1.2rem;
    position: relative;
}

.topicoDev::before,
.topicoDsg::before{
    content: '';
    display: block;
    width:1rem;
    height: 1rem;
    position: absolute;
    left: -1.7rem;
    top: 0.1rem;
    opacity: 0.8;
}

.topicoDev::before{
    background: linear-gradient(190deg, #05eeff 18%, #4B73FF 100%);
}

.topicoDsg::before{
    background: linear-gradient(190deg, #ffd3a5 20%, #FB923C 100%);
}

.itemFormacao>h5 {
    color: #898989;
    font-size: 0.7rem;
    letter-spacing: 0px;
    font-weight: 400;
    margin: 0 1.2rem 1.2rem 1.2rem;
}

@media (min-width:420px){
    .listaFormacao{
        justify-items: start;
    }
}

@media (min-width:1115px){
    #formacao{
        display: grid;
        grid-template-columns: 275px 2fr;
        column-gap: 70px;
    }
    
    #formacao > ul:nth-child(5){
        margin-top: 60px;
    }

    .listaFormacao{
        grid-column: 2/-1;
    }
}