h1, h3{
    font-family: 'Roboto Mono';
}

h2{
    font-family: 'Oswald';
}

span{
    font-family: 'Playfair Display';
}

body{
    background: #FFFEFC;
    color: #222222;

    display: grid;
    grid-template-columns: 60px 1fr 60px;
}

main{
    grid-column: 2;
    margin: 180px 0 60px 0;
}
