h1, h3{
    font-family: 'Roboto Mono';
}

h2{
    font-family: 'Oswald';
}

span{
    font-family: 'Playfair Display';
}

body{
    background: #FFFEFC;
    color: #222222;

    display: grid;
    grid-template-columns: 1.2rem 1fr 1.2rem;
}

main{
    grid-column: 2;
    margin: 6.2rem 0 3.7rem 0;
}